.background    { background: rgb(90, 80, 150);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: brown; }
.wall          { background: grey;   }
.floater       { background: lightgreen;   }

.game {
  position: relative;
}
